@using WinRed.Core
@using WinRed.Core.Extensions
@model User
@{
    Layout = null;
    var isInfo = Request["info"].IsNotNullOrEmpty();
}

<!DOCTYPE html>
<html>
<head>
    <title>@Params.DomianTitle -@(Model.ID.IsNullOrEmpty() ? "注册" : "编辑") </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    @*<meta name="renderer" content="webkit">*@
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="~/Scripts/tipso/css/tipso.min.css" rel="stylesheet" />

    <style>
        .am-text-danger{
            color:red;
        }
    </style>
</head>
<body>
    <div class="main" style="@(isInfo ? "margin:0px; width:100%;height:100%" : "")">
        <div class="header" style="@(isInfo ? "display:none;" : "")">
            <h1>@(Model.ID.IsNullOrEmpty() ? "新用户注册" : "编辑用户信息")</h1>
            @if (Model.ID.IsNullOrEmpty())
            {
                <p class="registered">已有账号?<a href="/account/login">立即登录</a></p>
            }
        </div>
        <form id="regForm">
            <input name="ID" type="hidden" value="@(Model.ID)" />
            <ul class="dataform">
                <li>
                    <lable class="info">账号:<strong class="am-text-danger am-text-sm">*</strong></lable><input type="text" placeholder="请输入用户名" required id="account" name="Account" value="@(Model.Account)" @(Model.ID.IsNotNullOrEmpty() ? "readonly" : "") />
                    <div class="clear"> </div>
                </li>
                <li>
                    <lable class="info">昵称:<strong class="am-text-danger am-text-sm">*</strong></lable><input type="text" placeholder="请输入姓名" required name="NickName" maxlength="32" value="@(Model.NickName)" />
                    <div class="clear"> </div>
                </li>
                @if (Model.ID.IsNullOrEmpty())
                {
                    <li>
                        <lable class="info">密码:<strong class="am-text-danger am-text-sm">*</strong></lable><input type="password" placeholder="请输入密码" required id="password" name="NewPassword" maxlength="12" />
                        <div class="clear"> </div>
                    </li>
                    <li>
                        <lable class="info">确认密码:<strong class="am-text-danger am-text-sm">*</strong></lable><input type="password" placeholder="确认密码" required id="password" name="ConfirmPassword" maxlength="12" />
                        <div class="clear"> </div>
                    </li>                 
                }
                <li>
                    <lable class="info">微信号:</lable><input type="text" placeholder="请输入微信号" name="WechatNum" maxlength="32" value="@(Model.WechatNum)" />
                    <div class="clear"> </div>
                </li>
                   <button class="submit-btn" onclick="Save()" style="height:50px;margin-left:10%;">保存</button>
            </ul>
            <div class="clear"> </div>

        </form>

    </div>
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script src="~/Scripts/jquery.form.js"></script>
    <script src="~/Scripts/jquery-validation/js/jquery.validate.js"></script>
    <script src="~/Scripts/Nuoya/nuoya.core.js"></script>
    <script src="~/Scripts/Nuoya/nuoya.form.js"></script>
    <script src="~/Scripts/tipso/js/tipso.js"></script>
    <script type="text/javascript">

        var id = '@(Model.ID)';
        function formInit(dataitem) {
            if (id) {
                $.Nuoya.form("regForm").validate({
                    rules: {
                        Account: {
                            required: true,
                            maxlength: 32
                        },
                        NickName: {
                            required: true,
                            maxlength: 32
                        },
                        WechatNum: {
                            required: true,
                            maxlength: 32
                        }
                    },
                    messages: {
                        Account: {
                            required: "账户不允许为空",
                            maxlength: "最多{0}个字符"
                        },
                        NickName: {
                            required: "昵称不允许为空",
                            maxlength: "最多{0}个字符"
                        },
                        WechatNum: {
                            required: "微信号码不允许为空",
                            maxlength: "最多{0}个字符"
                        },
                    }
                });
            }
            else {
                //添加表单验证
                $.Nuoya.form("regForm").validate({
                    rules: {
                        Account: {
                            required: true,
                            maxlength: 32
                        },
                        NewPassword: {
                            required: true,
                            maxlength: 12
                        },
                        ConfirmPassword: {
                            required: true,
                            maxlength: 12
                        },
                        NickName: {
                            required: true,
                            maxlength: 32
                        },
                        WechatNum: {
                            required: true,
                            maxlength: 32
                        }
                    },
                    messages: {
                        Account: {
                            required: "账户不允许为空",
                            maxlength: "最多{0}个字符"
                        },
                        NewPassword: {
                            required: "密码不允许为空",
                            maxlength: "最多{0}个字符"
                        },
                        ConfirmPassword: {
                            required: "确认密码不允许为空",
                            maxlength: "最多{0}个字符"
                        },
                        NickName: {
                            required: "昵称不允许为空",
                            maxlength: "最多{0}个字符"
                        },
                        WechatNum: {
                            required: "微信号码不允许为空",
                            maxlength: "最多{0}个字符"
                        },
                    }
                });
            }
        }

        formInit();
        function Save() {
            var url = id=="" ? "/Login/Register" : "/User/Save";
            $.Nuoya.form("regForm").ajaxSubmit({
                ajaxUrl: url,
                callback: function (data) {
                    if (!data.ErrorDesc) {
                        alert("保存成功");
                        window.location.href = "/home/index";
                    }
                    else {
                        alert(data.ErrorDesc);
                    }
                    return;
                }
            });
        }
    </script>

</body>
</html>          